.p-inputtext {
  width: 300px;
}

.p-calendar {
  .p-inputtext {
    width: 150px;
  }
}

.p-dropdown {
  .p-inputtext {
    width: 250px;
  }
}

.p-editor-container  {
  width: 300px;
  height: 250px;
  margin-bottom: 90px;
}
