.formkit-form > .formkit-messages {
  margin: 4px;
  .formkit-message {
    font-size: 0.8rem;
  }
}

.formkit-outer {
  margin: 4px;
}

.formkit-wrapper,
.formkit-fieldset {
  max-width: 0;
}

.formkit-label {
  display: block;
  margin: 0;
  padding: 0;
  width: 400px;
  font-weight: bold;
  font-size: 0.75rem;
}

.formkit-fieldset {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;

  &:focus-within {
    border: 0;
  }

  & > .formkit-help {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.formkit-legend {
  display: block;
  margin: 0;
  padding: 0;
}

.formkit-inner {
  position: relative;
  border-radius: 0;
  display: flex;
  align-items: center;

  &:focus-within {

  }

  .p-component {
    width: 400px;
  }

}

formkit-help {
  margin: 0;
}

.formkit-messages {
  padding: 0;
  margin: 0;
}

.formkit-help + .formkit-messages {
  padding-top: 0;
}

.formkit-message {
  padding: 0;
  margin: 0;
  color: red;
  list-style: none;
  font-size: 0.75rem;

}


