.formkit-inner {

  span {
    .p-inputtext {
      width: 300px;
    }
  }

  .p-inputnumber {
    .p-inputtext {
      width: 150px;
    }
  }

  .p-inputmask {
    width: 150px;
  }

  .p-password {
    .p-inputtext {
      width: 300px;
    }
  }

  .p-inputtextarea {
      width: 300px;
  }

  .p-slider {
    width: 300px;
    margin-top: 10px;

  }

  .p-color-picker {
    .p-inputtext {
      width: 30px;
    }
  }

  .p-calendar {
    .p-inputtext {
      width: 150px;
    }
  }

  .p-chips {
    .p-inputtext {
      width: 300px;
    }
  }

  .p-dropdown {
    .p-inputtext {
      width: 250px;
    }
  }

  .p-selectbutton {
      width: 300px;
  }

  .p-multiselect {
    .p-multiselect-label {
      width: 250px;
    }
  }

  .p-listbox {
    .p-listbox-item {
      width: 250px;
    }
  }

  .p-editor-container {
    width: 300px;
  }
}

.formkit-outer[data-type="primeInputSwitch"], .formkit-outer[data-type="primeCheckbox"], .formkit-outer[data-type="primeTriStateCheckBox"], .formkit-outer[data-type="primeRadioButton"] {
  .formkit-inner {
    width: 300px;

    .formkit-prime-right {
      margin-left: 10px;
      font-size: 1rem;
    }

    .formkit-prime-left {
      margin-right: 10px;
      font-size: 1rem;
    }
  }
}

